<title>Slick Picks</title>
<h1>SLICK PICKS</h1>

<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRsozNhGu_ZsqYhYxpBHSGbnnbPPdOuNEX7s17RGl0IxS3SOekZOg">
<p>Welcome to the future home of the Slick Picks Fantasy Football League</p>
<p>Site will be up and running for the start of the 2014 NFL season</p>
